<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test Suite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="com.listener.MyTestListner"/>
    </listeners>
    <test name="Login Test">
        <classes>
            <class name="com.tests.LoginFlowTest"/>
        </classes>
    </test>
</suite>
